.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  section.task-list {
    margin-top: -6.5rem;
    padding: 70px 60px;

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      h2 {
        color: var(--text-title);
        font-size: 2.25rem;
      }

      .input-group {
        text-align: center;
        gap: 0.25rem;

        font-size: 16px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input {
          height: 54px;
          width: 736px;
          flex: 1;
          background: var(--Gray500);
          border: 0;
          color: var(--Gray100);
          padding: 12px 24px;

          border-radius: 8px;
          border: 0;

          &::placeholder {
            color: var(--Gray300)
          }
        }

        button {
          font-weight: 600;
          border-radius: 8px;
          border: 0;
          background: var(--BlueDark);
          color: #fff;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 90px;
          height: 52px;
          gap: 0.5rem;
          padding: 14px;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.95);
          }
        }
      }
    }

    main {
      margin-top: 3rem;

      
      
      ul {
        list-style: none;
        
        li {
          margin-bottom: 1rem;
          width: 830px;
          height: 72px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid var(--Gray400);
          border-radius: 0.5rem;
          padding: 1rem;
          background: var(--Gray500);

          div {
            display: flex;
            align-items: center;
            gap: 14px;
            outline: 0;

            p {
              font-size: 1rem;
              color: var(--Gray100);
            }

            &.completed {

              p {
                text-decoration: line-through;
                opacity: 0.6;
              }
            }

            .checkbox-container {
              display: block;
              position: relative;
              padding-left: 14px;
              margin-bottom: 18px;

              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked {
                  &~.checkmark {
                    background-color: var(--PurpleDark);
                  }

                  &~.checkmark:after {
                    display: block;
                  }
                }
              }

              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: var(--Gray400);
                border-radius: 5rem;
                border: solid 1px var(--Blue);

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 6px;
                  top: 3px;
                  width: 3px;
                  height: 6px;
                  border: solid white;
                  border-width: 0 2px 2px 0;
                  transform: rotate(45deg);
                }
              }
            }
          }

          button {
            background: transparent;
            border: 0;

            svg {
              color: var(--Gray300);
            }

            &:hover {
              svg {
                filter: brightness(0.5)
              }
            }
          }
        }
      }
    }
  }
}